@font-face {
  font-family: "Aston Script";
  src: url("/fonts/Aston_Script.otf") format("truetype");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-mono: "Inconsolata", monospace;
  --font-serif: "Aston Script", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.overlayStyles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.boxStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  font-family: var(--font-mono);

  h1 {
    margin-bottom: 1rem;
    font-family: var(--font-serif);
    color: #dde000;
  }
}
